@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli&display=swap');

body {
    font-family: Muli, sans-serif;
    text-align: center;
    margin: 0;
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
}

th {
    background-color: dodgerblue;
    color: aliceblue;
    padding: 1em;
}

#content {
    margin: 3em;
}

nav {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
}

nav {
    z-index: 1;
}

.menu-list {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:active {
    color: lightblue;
}

table {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid slategrey;
}

tr {
    background-color: #ebebeb;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

td {
    padding: 2em;
}

tr:hover {
    background-color: white;
}

#index {
    text-align: left;
}

tr img {
    width: 350px;
}

.description {
    display: inline-block;
    width: 10rem;
    text-align: right;
}

.no-list-style {
    list-style: none;
    padding: 0;
}

.menu-list {
    display: inline-block;
}

.menu-list li {
    float: left;
    width: 12em;
}

@media screen and (max-width: 576px){
    .bg-primary {
        background-color: #FF0000 !important;
    }
}

@media screen and (min-width: 576px){
    .bg-primary {
        background-color: #ff00d3 !important;
    }
}

@media screen and (min-width: 768px){
    .bg-primary {
        background-color: #ac00ff !important;
    }
}

@media screen and (min-width: 992px){
    .bg-primary {
        background-color: #007bff !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .card-body {
        background-color: #e4ff6a;
    }
}